<div class="product{% if settings.products_per_row == "4" %} large-3 columns{% endif %}{% if settings.products_per_row == "3" %} large-4 columns{% endif %}{% if settings.products_per_row == "2" %} large-6 columns{% endif %}">
  
  <!-- Begin product image -->
  <div class="image">
    <a href="{{ collection.url }}">
      {% if collection.image %}
        <img src="{{ collection.image.src | collection_img_url: 'large' }}" alt="{{ collection.image.alt }}" />
      {% else %}
        <img src="{{ collection.products.first.featured_image | product_img_url: 'large' }}" alt="{{ collection.title | escape  }}" />
      {% endif %}
    </a>
  </div>
  <!-- End product image -->
  
  <!-- Begin product description -->
  <div class="details">
    <a href="{{ collection.url }}" class="clearfix">
      <h4 class="title">{{ collection.title }}</h4>
      <span class="price">{{ collection.all_products_count }} {{ collection.all_products_count | pluralize: 'Product', 'Products' }}</span>
    </a>
  </div>
  <!-- End product description -->
  
</div>