<!-- Top Nav Bar -->
	<nav class="top-bar" style="">
			<ul class="title-area">
				<li class="name">
					<h1><a href="/"><i class="fi-home white"></i> {{ shop.name }}</a></h1>
				</li>
				<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
			</ul>
		<section class="top-bar-section">
			<ul id="" class="left">
				{% for link in linklists.main-menu.links %}
					<li class="divider"></li>
					<li>{{ link.title | link_to: link.url }}</li>
				{% endfor %}
			</ul>
			<ul id="" class="right">
				<li class="divider"></li>
				<li>
					<a href="/cart"><i class="fi-shopping-cart white"></i> {{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }} ({{ cart.total_price | money }})</a>
				</li>
				<li class="divider"></li>
				<!-- You can use the next li to add a checkout button if you like --> 
				<!-- {% if cart.item_count > 0 %}
				<li class="has-form">
					<a class="small button" href="/checkout"><i class="fi-credit-card white"></i> Check Out</a>
				</li>
				{% endif %} -->
				<li class="has-form search-textarea">
					<form action="/search" method="get" class="search-form" role="search">
					<input name="q" type="text" id="search-field" placeholder="Search store..." class="hint" />
				</li>
				<li class="has-form search-submit">
					<input class="small button" type="submit" id="search-submit" value="Search" /></form>
				</li>
			</ul>

	</section>
	</nav>
<!-- End Top Nav Bar -->