<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">  

	{% comment %} Shopify Head Begin {% endcomment %}

	{% if template == 'index' %}
	<title>{{ shop.name }} | {{ page_title }}</title>
	{% elsif template == '404' %}
	<title>Page Not Found | {{ shop.name }}</title>
	{% else %}
	<title>{{ page_title }} | {{ shop.name }}</title>
	{% endif %}

	{% if page_description %}
	<meta name="description" content="{{ page_description }}" />
	{% endif %}

	{{ content_for_header }}

	{{ 'normalize.css' | asset_url | stylesheet_tag }}
	{{ 'style.css' | asset_url | stylesheet_tag }}
	{{ 'foundation-icons.css' | asset_url | stylesheet_tag }}
	{{ 'custom.css' | asset_url | stylesheet_tag }}

	{% if template contains 'customers' %}
	{{ 'shopify_common.js' | shopify_asset_url | script_tag }}
	{{ 'customer_area.js'  | shopify_asset_url | script_tag }}
	{% endif %}

	{{ 'option_selection.js' | shopify_asset_url | script_tag }}

	{{ '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js' | script_tag }}

</head>

<body class="{{ template | replace: '.', ' ' | truncatewords: 1, '' }} antialiased" id="{{ page_title | handle }}">

	<!-- Include Top Navigation -->
		{% include 'header' %}
	<!-- End Include Top Navigation -->
  
  	<!-- Include Main Content -->
  	<main class="row" role="main">

		{% if template == 'list-collections' %}
		{% include 'collection-listing' %}
		{% else %}
		{{ content_for_layout }}
		{% endif %}

  	</main><br>
  	<!-- End Include Main Content -->

	{% if settings.bottom_menu_on %}  
		<!-- Include Bottom Navigation -->
			{% include 'bottom-navigation' %}
		<!-- End Include Bottom Navigation -->
	{% endif %}
 
  	<!-- Include Footer -->
		{% include 'footer' %}
  	<!-- End Include Footer Content -->
  
  	<script>
    document.write('<script src=' + ('__proto__' in {} ? '{{ 'zepto.js' | asset_url }}' : '{{ 'jquery.js' | asset_url }}') + '><\/script>');
  	</script>
  
	{{ 'foundation.min.js' | asset_url | script_tag }}
  
  	<script>
    $(document).foundation();
  	</script>
  
  	<!-- Let's add a product zoom becaue Foundation doesn't have one. Thank's to Jack Moore! -->
  	{{ 'jquery.zoom.js' | asset_url | script_tag }}
  
</body>
</html>
