{% comment %}
Important notes about pagination:
- Never access collection.products before the opening paginate tag.
- Never paginate by more than 50.
{% endcomment %}

{% paginate collection.products by settings.pagination_limit %}

{% comment %}
Re-use the 'rte' class wherever you output content that was added by a merchant using
the Rich Text Editor ( 'rte' stands for rich text editor ).
Style all HTML elements in that content the same way across the board.
Use the 'rte' class in your CSS to help maintain that consistency.
Example: the h2 element should have the same size and color in:
- product descriptions
- collection descriptions
- 'page' pages' content
- blog post
{% endcomment %}

<div class="large-12 columns">

	<h1>{{ collection.title }}</h1>

	{% comment %}
	Listing all tags within the current collection.
	Shopify uses product tags to manage subcategories inside collections.
	See 'How do I create subcategories of products?' at 
	http://support.shopify.com/customer/portal/articles/75425 for details.
	{% endcomment %}
	{% if collection.all_tags.size > 0 %}
	<ul class="collection-sub-categories clearfix">
	  <li{% unless current_tags %} class="active"{% endunless %}>
		{% if collection.handle %}
		{% comment %}Good for /collections/all collection and regular collections{% endcomment %}
		<a href="/collections/{{ collection.handle }}">All</a>
		{% comment %}Good for automatic type collections{% endcomment %}
		{% elsif collection.products.first.type == collection.title %}
		<a href="{{ collection.title | url_for_type }}">All</a>
		{% comment %}Good for automatic vendor collections{% endcomment %}
		{% elsif collection.products.first.vendor == collection.title %}
		<a href="{{ collection.title | url_for_vendor }}">All</a>
		{% endif %}
	  </li> 
	  {% for tag in collection.all_tags %}
	  {% if current_tags contains tag %}
	  <li class="active">
		{{ tag | link_to_remove_tag: tag }}
	  </li>
	  {% else %}
	  <li>
		{{ tag | link_to_tag: tag }}
	  </li>
	  {% endif %}
	  {% endfor %}  
	</ul>
	{% endif %}

	{% if collection.description.size > 0 %}
	<div class="rte">
	  {{ collection.description }}
	</div>
	{% endif %}


	{% for product in collection.products %}
	  {% include 'product-loop' %}
	{% else %}
	<p>There are no products in this view.</p>
	{% endfor %}

	
	{% if paginate.pages > 1 %}
		<div class="pagination-centered">
			<ul class="pagination">
				<li class="arrow">
					{% if paginate.previous %}
						{{ paginate.previous.title | link_to: paginate.previous.url }}
					{% endif %}
				</li>
				{% for part in paginate.parts %}
					{% if part.is_link %}
						<li>{{ part.title | link_to: part.url }}</li>
					{% else %}
						<li class="current"><a href>{{ part.title }}</a></li>
					{% endif %}
				{% endfor %}
				<li class="arrow">
					{% if paginate.next %}
						{{ paginate.next.title | link_to: paginate.next.url }}
					{% endif %}
				</li>
			</ul>
		</div>
	{% endif %}
	
</div>

{% endpaginate %}